body {
  font-family: 'Noto Sans JP', 'Yu Gothic', 'Meiryo', sans-serif;
}

.header {
  height: 150px;
  background-color: rgb(89, 30, 103);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 50px;
  color: white;
}


.result {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2.luckyresult {
  color: red;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px double black;
}
h2.unluckyresult {
  color: black;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px double black;
}
.result h3 {
  color: black;
  font-size: 25px;
}
.highlight {
  font-size: 35px;
  border-bottom: 3px solid black;
}
.result ul {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
.result li {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
.result img {
  padding-top: 200px;
}
.img_uranaishi {
  width: 0px;
  height: 0px;
}


.main {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 60px;
}
#btn01.btn01 {
  color: black;
  background-color: gray;
}

.footer {
  height: 100px;
  background-color: rgb(89, 30, 103);
}